version: "3.9"

services:
  api:
    container_name: nest_api
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    command: npm run start:dev
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: nest_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestjs
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: nest_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: maneesh@gmail.com
      PGADMIN_DEFAULT_PASSWORD: maneesh123
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  postgres-data:
